sudo: false
language: python
python:
  - 3.3
  - 3.4
  - 3.5
install:
  - pip install flake8
script:
  - flake8 homu
  - python setup.py install
  - python -m unittest discover tests
notifications:
  webhooks: http://build.servo.org:54856/travis
