<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homu queue - {{repo_label}} {% if treeclosed %} [TREE CLOSED] {% endif %}</title>
        <style>
            * { font-family: sans-serif; }
            h1 { font-size: 20px; }
            h2 { font-size: 16px; }
            p { font-size: 15px; }

            table { border-collapse: collapse; }
            td, th { border: 2px solid white; padding: 5px; font-size: 13px; }
            tr:nth-child(even) { background: #ddd; }

            .treeclosed { color: grey }
            .success { background-color: #80C0F0; }
            .failure, .error { background-color: #F08080; }
            .pending { background-color: #F0DE57; }
            .approved { background-color: #85DB7B; }

            .yes { color: green; }
            .no { color: red; }

            .sorting_asc:after { content: " ▲"; }
            .sorting_desc:after { content: " ▼"; }
            .dataTables_filter, .dataTables_info, .dataTables_empty { display: none; }
            #search { width: 150px; }
            .hide { display: none; }
            th { cursor: pointer; }
            #actual-rollup { background: #c7e2ff; border: #00acf7 3px double; border-radius: 5px; width: 75%; padding: 0 1em; }
        </style>
    </head>
    <body>
        <h1>Homu queue - {% if repo_url %}<a href="{{repo_url}}" target="_blank">{{repo_label}}</a>{% else %}{{repo_label}}{% endif %} {% if treeclosed %} [TREE CLOSED below priority {{treeclosed}}] {% endif %}</h2>

        <p>
            <button type="button" id="expand-rollup">Create a rollup</button>
            <button type="button" id="synch">Synchronize</button>
        </p>

        <div id="actual-rollup" class="hide">
            <p>This will create a new pull request consisting of <span id="checkbox-count">0</span> PRs.</p>
            <p>A rollup is useful for shortening the queue, but jumping the queue is unfair to older PRs who have waited too long.</p>
            <p>When creating a real rollup, try to be fair to the PRs not rolled up. You may pick one of these strategies:</p>
            <ul>
                <li>
                    <p>Always include the first <span class="approved">approved</span> PR in the rollup.
                    Then give the new pull request the highest priority (p=100);</p>
                    <p><i>or</i></p>
                </li>
                <li>
                    <p>After creating the rollup, give it a fairly high priority (p=10), then assign
                    even higher priorties (p=20, ...) to every PRs older than the oldest rolled up PR.</p>
                </li>
            </ul>
            <p>
                <button type="button" id="rollup">Rollup</button>
                —
                <button type="button" id="cancel-rollup">Cancel</button>
            </p>
        </div>

        <p>
            {{ total }} total, {{ approved }} approved, {{ rolled_up }} rolled up, {{ failed }} failed
            /
            <label><input type="checkbox" id="auto_reload">Auto reload</label>
            /
            <input type="search" id="search" placeholder="Search">
            <button type="button" id="reset">Reset</button>
        </p>

        <table id="queue">
            <thead>
                <tr>
                    <th class="hide">Sort key</th>
                    <th><input type="checkbox"></th>
                    {% if multiple %}
                    <th>Repository</th>
                    {% endif %}
                    <th>#</th>
                    <th>Status</th>
                    <th>Mergeable</th>
                    <th>Title</th>
                    <th>Head ref</th>
                    <th>Assignee</th>
                    <th>Approved by</th>
                    <th>Priority</th>
                </tr>
            </thead>

            <tbody>
                {% for state in states %}
                <tr class="{{state.greyed}}">
                    <td class="hide">{{loop.index}}</td>
                    <td><input type="checkbox" data-num="{{state.num}}"></td>
                    {% if multiple %}
                    <td><a href="{{state.repo_url}}">{{state.repo_label}}</a></td>
                    {% endif %}
                    <td><a href="{{state.url}}">{{state.num}}</a></td>
                    <td class="{{state.status}}">
                        {% if state.status == "pending" or state.status == "failure" or state.status == "success" %}
                            <a href="../results/{{state.repo_label}}/{{state.num}}">{{state.status}}{{state.status_ext}}</a>
                        {% else %}
                            {{state.status}}{{state.status_ext}}
                        {% endif %}
                    </td>
                    <td class="{{state.mergeable}}">{{state.mergeable}}</td>
                    <td>{{state.title}}</td>
                    <td>{{state.head_ref}}</td>
                    <td>{{state.assignee}}</td>
                    <td>{{state.approved_by}}</td>
                    <td>{{state.priority}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="../../assets/jquery.min.js"></script>
        <script src="../../assets/jquery.dataTables.min.js"></script>

        <script>
            document.getElementById('expand-rollup').onclick = function() {
                var checkboxCount = document.querySelectorAll('#queue tbody input[type=checkbox]:checked').length;
                document.getElementById('checkbox-count').innerHTML = checkboxCount;
                document.getElementById('actual-rollup').className = '';
            };

            document.getElementById('cancel-rollup').onclick = function() {
                document.getElementById('actual-rollup').className = 'hide';
            };

            document.getElementById('rollup').onclick = function(ev) {
                var nums = [];
                var els = document.querySelectorAll('#queue tbody input[type=checkbox]:checked');
                for (var i=0;i<els.length;i++) {
                    var num = parseInt(els[i].getAttribute('data-num'));
                    nums.push(num);
                }

                location = 'https://github.com/login/oauth/authorize' +
                    '?client_id={{oauth_client_id}}' +
                    '&scope=public_repo,admin:repo_hook' +
                    '&state=' + encodeURIComponent(JSON.stringify({
                        cmd: 'rollup',
                        repo_label: '{{repo_label}}',
                        nums: nums,
                    }));
            };

            document.getElementById('synch').onclick = function(ev) {
                if (!confirm('Retrieve all pull requests?')) return;

                location = 'https://github.com/login/oauth/authorize' +
                    '?client_id={{oauth_client_id}}' +
                    '&scope=public_repo,admin:repo_hook' +
                    '&state=' + encodeURIComponent(JSON.stringify({
                        cmd: 'synch',
                        repo_label: '{{repo_label}}',
                    }));
            };

            var handle_auto_reload = function() {
                var timer_id = null;

                return function() {
                    clearInterval(timer_id);
                    timer_id = null;

                    if (localStorage.homu_auto_reload == 'true') {
                        timer_id = setInterval(function() {
                            location.reload(true);
                        }, 1000 * 60 * 2);
                    }
                };
            }();

            document.getElementById('auto_reload').onclick = function(ev) {
                localStorage.homu_auto_reload = ev.target.checked;

                handle_auto_reload();
            };

            document.getElementById('auto_reload').checked = localStorage.homu_auto_reload == 'true';

            handle_auto_reload();

            $(document).ready(function() {
                var table = $('#queue').DataTable({
                    paging: false,
                    order: [],
                    autoWidth: false,
                    columnDefs: [
                        {targets: [1], orderable: false, searchable: false},
                    ],
                });

                var search_el = document.getElementById('search');

                search_el.oninput = function(ev) {
                    table.search(this.value).draw();
                };

                document.getElementById('reset').onclick = function(ev) {
                    search_el.value = '';
                    table.search('').draw();

                    table.order([0, 'asc']).draw();
                };
            });

            document.querySelector('#queue thead input[type=checkbox]').onclick = function(ev) {
                ev.stopPropagation();

                var els = document.querySelectorAll('#queue tbody input[type=checkbox]');
                for (var i=0;i<els.length;i++) {
                    els[i].checked = this.checked;
                }
            };
        </script>
    </body>
</html>
